@page "/list"


@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using DocumentApp.Domain

<select>
    <option>Пункт 1</option>
    <option>Пункт 2</option>
</select>