@page "/add"

@inject HttpClient Http
@inject NavigationManager Nav

<PageTitle>Добавление публикации</PageTitle>
<PageHeader>Добавление публикации</PageHeader>

<PublicationEditor @bind-BindingValue="_publication">
    <button class="add-publication-button" @onclick="async () => await AddPublication()">Добавить</button>
</PublicationEditor>

@code
{
    private const string PageAfterAddition = "";
    private const string PostEndpointUrl = "https://localhost:7204/api/Edit";

    private PublicationDto _publication = new()
    {
        PublishingYear = 2022
    };

    private async Task AddPublication()
    {
        await SendPostRequestWithBodyAsync(_publication);
        Nav.NavigateTo(PageAfterAddition);
    }

    private async Task SendPostRequestWithBodyAsync(PublicationDto publicationDto)
        => await Http.PostAsJsonAsync(PostEndpointUrl, publicationDto);
}