@page "/edit"

@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using DocumentApp.DTO
@inject NavigationManager _nav

<PageTitle>Редактирование публикации</PageTitle>

<div class="page-header-container">
    <h2 class="page-header">Редактирование публикации</h2>
</div>

<PublicationsPresenter />